<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageUrl</key>
		<string>http://cdnq.duitang.com/uploads/item/201409/30/20140930170248_GsFv4.jpeg</string>
		<key>imageDescription</key>
		<string>22222</string>
		<key>imageType</key>
		<string>jpeg</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>http://cdnq.duitang.com/uploads/item/201410/14/20141014185925_FBQNS.jpeg</string>
		<key>imageDescription</key>
		<string>Dsa f</string>
		<key>imageType</key>
		<string>jpeg</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>http://img5q.duitang.com/uploads/item/201411/06/20141106161920_MMNVv.jpeg</string>
		<key>imageDescription</key>
		<string>额额额额额额</string>
		<key>imageType</key>
		<string>jpeg</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>http://cdnq.duitang.com/uploads/blog/201411/03/20141103203721_mXhuR.gif</string>
		<key>imageDescription</key>
		<string>简易七步瘦腿操 每天10分钟瘦大腿内侧赘肉】大腿是脂肪最容易堆积的部位，尤其是大腿内侧最为严重。以下7个动作，每个动作1分钟，休息30秒，就可以燃烧腿部脂肪，塑造完美腿型</string>
		<key>imageType</key>
		<string>gif</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>http://img5q.duitang.com/uploads/item/201408/13/20140813190048_jRSdB.png</string>
		<key>imageDescription</key>
		<string>啊啊啊啊啊</string>
		<key>imageType</key>
		<string>png</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>http://img5q.duitang.com/uploads/item/201407/03/20140703170553_wsF5a.png</string>
		<key>imageDescription</key>
		<string>电脑电脑打开</string>
		<key>imageType</key>
		<string>png</string>
	</dict>
</array>
</plist>
